/*
  conponent__filters
      ->conponent__filters-input
      ->conponent__filters-icon
*/

.conponent__filters{
   
    &-input{
        border: none;
        border-bottom: 1px solid #333333;
        position: relative;
        width: 100%;
        outline: none;
        padding: 0px 4px 4px 4px;
        font-size: 16px;
    }
    &-icon{
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 16px;
    }
}