/*
layout_Post
      -> layout_Post--header
      -> layout_Post--content
      -> layout_Post--footer
*/
body{
    background-color: #f5f5f5;
    padding:50px;
}

.layout_Post{
    min-height: 500px;
    box-shadow: 9px 9px 9px -8px rgba(0,0,0,0.75);
    background-color: #ffffff;
    border-radius: 5px;
    &--header{
        padding: 24px;
    }
    &--content{
        padding: 0px 24px;
    }
}