/*
    component__postList
        -> component__postList-row
*/
th,td{
    padding:6px 0px 12px 0px;
    text-align: center;
}
.component__postList{
    &-row{
        border-bottom: 1px solid #e6e6e6;
    }
}