/*
  component__Filters-Status
     -> component__Filters-Status-Select
     -> component__Filters-Status-Title
*/

.component__Filters-Status {
margin-left: -120px;
  &-Select {
    height: 30px !important;
  }
  &-Title {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #515db1;
    line-height: 34px;
    margin-left: 20px;
  }
}
