/*
    conponent__button_Custom
        -> conponent__button_Custom--icon
        -> conponent__button_Custom--span

*/

.conponent__button_Custom {
    text-align: center;
    position: relative;
    color: #515db1;
    &--span {
      text-transform: uppercase;
      margin:0em 1.2em 0em 0.8em;
      font-size: 14px;
      color: #515db1;
      font-weight: bold;
    }
  }
  